{% extends "base.html" %}
{% block title %}The playground!{% endblock %}
{% block hero %}
    <p class="title">The playground!</p>
    <p class="subtitle">... for axum, askama and htmx.</p>
{% endblock %}
{% block content %}
    <form id="post-entry"
          class="box"
          hx-post="/entries"
          hx-swap="beforeend"
          hx-target="#entries">
        <div class="field">
            <label class="label">add content</label>
            <div class="control">
                <input required class="input" type="text" name="content">
            </div>
        </div>
        <button class="button is-primary">submit</button>
    </form>
    <div id="entries"
         hx-trigger="load"
         hx-get="/entries"
         hx-swap="outerHTML"
         hx-indicator="#entries-progress"></div>
    <div id="entries-progress" class="columns is-mobile">
        <div class="htmx-indicator column is-half is-offset-one-quarter">
            <progress class=" progress is-small is-primary" max="100"></progress>
        </div>
    </div>
{% endblock %}
